.about {
    width: 100%;
    max-width: 1384px;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.about-wrapper {
    background: url(../../src/img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.about__title {
    font-family: $fontfamily;
    font-size: 36px;
    padding-top: 14px;
}

.about__text {
    margin-top: 100px;
}

.about-inner-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}