.about {
    width: 100%;
    max-width: 1384px;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.about-wrapper {
    background: url(../../src/img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.about__title {
    font-family: $fontfamily;
    font-size: 36px;
    padding-top: 14px;
    font-weight: 400;
}

.about__text {
    margin-top: 100px;
    & p {
        font-size: 24px;
    }
}

.about-inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about__img {
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 428px) {
    .about__title {
        font-size: 24px;
        padding-left: 10px;
    }
    .about__text {
        margin-top: 0px;
        box-sizing: border-box;
        padding: 10px;
    }
}