.tabs-inner-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.panel {
    display: none;
    overflow: hidden;
    font-size: 20px;
}

.tabs-wrapper {
    background: url(../../src/img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.tabs__title {
    font-family: $fontfamily;
    font-size: 36px;
    padding-top: 14px;
    font-weight: 400;
}