.footer__wrapper {
    background: #CFD0DA;
}

.footer {
    width: 100%;
    max-width: 1384px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
}

.footer__logo {
    display: flex;
    height: 100%;
    margin-top: 80px;
}

.footer__contacts-nav {
    list-style: none;
    & li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        text-decoration: none;
        padding-top: 10px;
        & img {
            display: flex;
            height: 24px;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 428px) {
    .footer__logo img {
        width: 100%;
        max-width: 300px;
    }
    .footer {
        justify-content: center;
    }
}