.header {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    height: 80px;
}

.header__nav {
    & ul {
        width: 100%;
        max-width: 524px;
        margin-top: 25px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & li a {
            color: #282828;
            text-decoration: none;
            border-bottom: 1px solid rgba(22, 22, 22, 0);
            transition: all 0.25s ease-in-out;
            &:hover {
                transition: all 0.25s ease-in-out;
                border-bottom: 1px solid rgba(22, 22, 22, 1);
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .desktop-nav {
        display: none;
    }
    .nav-toggle {
        display: block !important;
    }
}