.price__wrapper {
    background: url(../../src/img/titlebg.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.price {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
}

.price__title {
    font-family: $fontfamily;
    font-size: 36px;
    padding-top: 14px;
    font-weight: 400;
}

.price-inner-wrapper {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
    margin-top: 20px;
}

.price__card {
    width: 100%;
    max-width: 748px;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 200px;
    background: linear-gradient(#CFD0DB, #E4E4E4);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card__img {
    margin-top: 20px;
}

.card__title {
    font-size: 28px;
    font-weight: 400;
}

.card__price {
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 10px;
}

.card__button {
    width: 250px;
    height: 70px;
    color: #282828;
    background: #FAD652;
    border: 0;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all 0.25s ease-in-out;
    font-size: 24px;
    font-weight: 400;
    &:hover {
        cursor: pointer;
        background: #e7b911;
        transition: all 0.25s ease-in-out;
    }
}

.price__desc {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 428px) {
    .card__title {
        text-align: center;
    }
    .card__price {
        text-align: center;
    }
    .price__title {
        font-size: 24px;
        padding-left: 10px;
    }
    .price-inner-wrapper {
        box-sizing: border-box;
        padding: 10px;
    }
}